# Что сегодня сделаем
Библиотеку для получения курсов валют в 2 строки

In [2]:
from libs.exchange import Rate

In [3]:
Rate().usd()

74.7588

In [4]:
Rate("full").usd()

{'ID': 'R01235',
 'NumCode': '840',
 'CharCode': 'USD',
 'Nominal': 1,
 'Name': 'Доллар США',
 'Value': 74.7588,
 'Previous': 74.7638}

In [8]:
Rate().eur()

79.6104

In [7]:
Rate("full").eur()

{'ID': 'R01239',
 'NumCode': '978',
 'CharCode': 'EUR',
 'Nominal': 1,
 'Name': 'Евро',
 'Value': 79.6104,
 'Previous': 79.9764}

In [9]:
Rate("value").eur()

79.6104

In [5]:
Rate('full').AZN()

{'ID': 'R01020A',
 'NumCode': '944',
 'CharCode': 'AZN',
 'Nominal': 1,
 'Name': 'Азербайджанский манат',
 'Value': 43.9758,
 'Previous': 43.9787}

### Упражнение
Дана строка со значениями, которые разделены запятыми:

In [1]:
line = '2019-07-01,organic,4293'

**Задача**

Напишите функцию column_count, которая возвращает число столбцов в такой строке

**Подсказка**

Можно перевести эту строку в список с помощью метода split: line.split(','). И затем посчитать количество элементов в нем (функция len)

In [7]:
'2019-07-01,organic,4293'.split(',')

['2019-07-01', 'organic', '4293']

In [2]:
def column_count(line):
    list_line = line.split(',')
    return len(list_line)

column_count(line)

3

In [3]:
def column_count(line):
    linestr=line.strip().split(',')
    lenght=len(linestr)
    return lenght

column_count(line)

3

In [9]:
line = '2019-07-01,organic,4293'

def column_count(string):
    if string:
        line_list = string.strip().split(',')
        count = len(line_list)

        return count
    
    return 0

column_count(line)

3

In [4]:
column_count('2019-07-01,organic,4293,')

4

In [5]:
column_count('2019-07-01')

1

In [10]:
column_count('')

0

# Классы
Пример использования переменной в разных методах

In [12]:
class AnyName:
    def method_1(self):
        self.currency = 'usd'
    
    def method_2(self):
        print(self.currency)

In [21]:
a = AnyName()

In [ ]:
a.

In [22]:
a.method_2()

AttributeError: 'AnyName' object has no attribute 'currency'

In [ ]:
import datetime.py

In [16]:
from datetime import datetime, timedelta

In [ ]:
timedelta.

In [ ]:
datetime.datetime.strptime()

In [14]:
a.

In [18]:
a.method_1()

In [19]:
a.currency

'usd'

In [ ]:
a.currency

In [20]:
a.method_2()

usd

### Метод __init__

In [23]:
# метод __init__ выполняется при вызове класса

class Rate:
    def __init__(self):
        self.format = 'value'
        print(self.format)

In [24]:
r = Rate()

value

In [26]:
r.format

'value'

### Класс для курсов валют

In [27]:
class Rate:
    def __init__(self):
        self.format = 'value'
    
    def show_current_format(self):
        return self.format

In [28]:
r = Rate()

In [29]:
r.show_current_format()

'value'

Пример инициализации со значением переменной

In [30]:
class Rate:
    def __init__(self, format_):
        self.format = format_
    
    def show_current_format(self):
        return self.format

In [31]:
r = Rate(format_='value')

In [32]:
r.show_current_format()

'value'

Или сразу со значением по умолчанию

In [33]:
class Rate:
    def __init__(self, format_='value'):
        self.format = format_
    
    def show_current_format(self):
        return self.format

In [34]:
r = Rate()
r.show_current_format()

'value'

In [35]:
r_full = Rate(format_='full')
r_full.show_current_format()

'full'

In [36]:
# значения переменных класса можно менять

r.format = 'full_123'
r.show_current_format()

'full_123'

In [37]:
r_full.format

'full'

### Упражнение
Создайте класс сотрудника Employee. При инициализации класса задается имя сотрудника name и его текущая зарплата salary. Напишите следующие методы:
1. Метод up, который увеличивает зарплату сотрудника на 100
2. Метод print, который выводит на экран текущую зарплату сотрудника в формате "Сотрудник Иван, зарплата 100"

In [5]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
    
    def up(self, num=100):
        self.salary += num
        print(f'Зряплата выросла до {self.salary}') 
    
    def print_(self, text=''):
        print(f'Сотрудник {self.name}, зарплата {self.salary}. {text}')

In [6]:
emp = Employee('Иван', 40)

In [7]:
emp.name, emp.salary

('Иван', 40)

In [8]:
emp.print_()

Сотрудник Иван, зарплата 40.

In [15]:
emp.up()

Зряплата выросла до 740

In [16]:
elena = Employee('Елена', 200)

In [25]:
elena.up()

Зряплата выросла до 800

In [19]:
elena.name, elena.salary

('Елена', 300)

In [26]:
elena.print_()

Сотрудник Елена, зарплата 800.

In [27]:
class Employee:
    def _init_(self, name, salary):
        self.name = name
        self.salary = salary
    
    def up(self):
        self.salary += 100
        # return self.salary
    
    def print_(self):
        print(f'Сотрудник {self.name}, зарплата {self.salary}')

In [28]:
current_salary = elena.salary

In [29]:
class Employee:
    def __init__(name, salary):
        self.name = name
        self.salary = salary
    
    def up(self):
        new_salary = self.salary + 100
        return new_salary
    
    def print_(self):
        line = f"{self.name}, зарплата {self.salary}"
        return line

### Полная версия класса

In [38]:
import requests

In [39]:
class Rate:
    """
    
    """
    def __init__(self, format_='value'):
        self.format = format_
    
    def exchange_rates(self):
        """
        Возвращает ответ сервиса с информацией о валютах в виде:
        
        {
            'AMD': {
                'CharCode': 'AMD',
                'ID': 'R01060',
                'Name': 'Армянских драмов',
                'Nominal': 100,
                'NumCode': '051',
                'Previous': 14.103,
                'Value': 14.0879
                },
            ...
        }
        """
        self.r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
        return self.r.json()['Valute']
    
    def make_format(self, currency):
        """
        Возвращает информацию о валюте currency в двух вариантах:
        - полная информация о валюте при self.format = 'full':
        Rate('full').make_format('EUR')
        {
            'CharCode': 'EUR',
            'ID': 'R01239',
            'Name': 'Евро',
            'Nominal': 1,
            'NumCode': '978',
            'Previous': 79.6765,
            'Value': 79.4966
        }
        
        Rate('value').make_format('EUR')
        79.4966
        """
        response = self.exchange_rates()
        
        if currency in response:
            if self.format == 'full':
                return response[currency]
            
            if self.format == 'value':
                return response[currency]['Value']
        
        return 'Error'
    
    def eur(self):
        """Возвращает курс евро на сегодня в формате self.format"""
        return self.make_format('EUR')
    
    def usd(self):
        """Возвращает курс доллара на сегодня в формате self.format"""
        return self.make_format('USD')
    
    def brl(self):
        """Возвращает курс бразильского реала на сегодня в формате self.format"""
        return self.make_format('BRL')

In [40]:
r = Rate(format_='full')

In [41]:
r.make_format('GBP')

{'ID': 'R01035',
 'NumCode': '826',
 'CharCode': 'GBP',
 'Nominal': 1,
 'Name': 'Фунт стерлингов Соединенного королевства',
 'Value': 89.7928,
 'Previous': 89.739}

In [42]:
r.usd()

{'ID': 'R01235',
 'NumCode': '840',
 'CharCode': 'USD',
 'Nominal': 1,
 'Name': 'Доллар США',
 'Value': 74.7588,
 'Previous': 74.7638}

In [43]:
r = Rate()

In [44]:
r.exchange_rates()

{'AUD': {'ID': 'R01010',
  'NumCode': '036',
  'CharCode': 'AUD',
  'Nominal': 1,
  'Name': 'Австралийский доллар',
  'Value': 51.1574,
  'Previous': 51.7515},
 'AZN': {'ID': 'R01020A',
  'NumCode': '944',
  'CharCode': 'AZN',
  'Nominal': 1,
  'Name': 'Азербайджанский манат',
  'Value': 43.9758,
  'Previous': 43.9787},
 'GBP': {'ID': 'R01035',
  'NumCode': '826',
  'CharCode': 'GBP',
  'Nominal': 1,
  'Name': 'Фунт стерлингов Соединенного королевства',
  'Value': 89.7928,
  'Previous': 89.739},
 'AMD': {'ID': 'R01060',
  'NumCode': '051',
  'CharCode': 'AMD',
  'Nominal': 100,
  'Name': 'Армянских драмов',
  'Value': 19.0279,
  'Previous': 18.9987},
 'BYN': {'ID': 'R01090B',
  'NumCode': '933',
  'CharCode': 'BYN',
  'Nominal': 1,
  'Name': 'Белорусский рубль',
  'Value': 26.5837,
  'Previous': 26.7185},
 'BGN': {'ID': 'R01100',
  'NumCode': '975',
  'CharCode': 'BGN',
  'Nominal': 1,
  'Name': 'Болгарский лев',
  'Value': 40.8987,
  'Previous': 40.9015},
 'BRL': {'ID': 'R01115',
  'NumCode': '986',
  'CharCode': 'BRL',
  'Nominal': 1,
  'Name': 'Бразильский реал',
  'Value': 14.2591,
  'Previous': 14.3116},
 'HUF': {'ID': 'R01135',
  'NumCode': '348',
  'CharCode': 'HUF',
  'Nominal': 100,
  'Name': 'Венгерских форинтов',
  'Value': 20.622,
  'Previous': 20.9235},
 'VND': {'ID': 'R01150',
  'NumCode': '704',
  'CharCode': 'VND',
  'Nominal': 10000,
  'Name': 'Вьетнамских донгов',
  'Value': 31.6252,
  'Previous': 31.6313},
 'HKD': {'ID': 'R01200',
  'NumCode': '344',
  'CharCode': 'HKD',
  'Nominal': 10,
  'Name': 'Гонконгских долларов',
  'Value': 95.4652,
  'Previous': 95.4228},
 'GEL': {'ID': 'R01210',
  'NumCode': '981',
  'CharCode': 'GEL',
  'Nominal': 1,
  'Name': 'Грузинский лари',
  'Value': 28.2813,
  'Previous': 28.1787},
 'DKK': {'ID': 'R01215',
  'NumCode': '208',
  'CharCode': 'DKK',
  'Nominal': 1,
  'Name': 'Датская крона',
  'Value': 10.7386,
  'Previous': 10.7358},
 'AED': {'ID': 'R01230',
  'NumCode': '784',
  'CharCode': 'AED',
  'Nominal': 1,
  'Name': 'Дирхам ОАЭ',
  'Value': 20.3536,
  'Previous': 20.3555},
 'USD': {'ID': 'R01235',
  'NumCode': '840',
  'CharCode': 'USD',
  'Nominal': 1,
  'Name': 'Доллар США',
  'Value': 74.7588,
  'Previous': 74.7638},
 'EUR': {'ID': 'R01239',
  'NumCode': '978',
  'CharCode': 'EUR',
  'Nominal': 1,
  'Name': 'Евро',
  'Value': 79.6104,
  'Previous': 79.9764},
 'EGP': {'ID': 'R01240',
  'NumCode': '818',
  'CharCode': 'EGP',
  'Nominal': 10,
  'Name': 'Египетских фунтов',
  'Value': 24.4664,
  'Previous': 24.468},
 'INR': {'ID': 'R01270',
  'NumCode': '356',
  'CharCode': 'INR',
  'Nominal': 100,
  'Name': 'Индийских рупий',
  'Value': 90.5304,
  'Previous': 90.5018},
 'IDR': {'ID': 'R01280',
  'NumCode': '360',
  'CharCode': 'IDR',
  'Nominal': 10000,
  'Name': 'Индонезийских рупий',
  'Value': 49.2612,
  'Previous': 49.2061},
 'KZT': {'ID': 'R01335',
  'NumCode': '398',
  'CharCode': 'KZT',
  'Nominal': 100,
  'Name': 'Казахстанских тенге',
  'Value': 16.8342,
  'Previous': 16.7148},
 'CAD': {'ID': 'R01350',
  'NumCode': '124',
  'CharCode': 'CAD',
  'Nominal': 1,
  'Name': 'Канадский доллар',
  'Value': 55.6282,
  'Previous': 55.7481},
 'QAR': {'ID': 'R01355',
  'NumCode': '634',
  'CharCode': 'QAR',
  'Nominal': 1,
  'Name': 'Катарский риал',
  'Value': 20.5381,
  'Previous': 20.5395},
 'KGS': {'ID': 'R01370',
  'NumCode': '417',
  'CharCode': 'KGS',
  'Nominal': 100,
  'Name': 'Киргизских сомов',
  'Value': 85.5168,
  'Previous': 85.5226},
 'CNY': {'ID': 'R01375',
  'NumCode': '156',
  'CharCode': 'CNY',
  'Nominal': 1,
  'Name': 'Китайский юань',
  'Value': 10.8409,
  'Previous': 10.8855},
 'MDL': {'ID': 'R01500',
  'NumCode': '498',
  'CharCode': 'MDL',
  'Nominal': 10,
  'Name': 'Молдавских леев',
  'Value': 39.9323,
  'Previous': 39.92},
 'NZD': {'ID': 'R01530',
  'NumCode': '554',
  'CharCode': 'NZD',
  'Nominal': 1,
  'Name': 'Новозеландский доллар',
  'Value': 46.6794,
  'Previous': 46.8021},
 'NOK': {'ID': 'R01535',
  'NumCode': '578',
  'CharCode': 'NOK',
  'Nominal': 10,
  'Name': 'Норвежских крон',
  'Value': 72.2,
  'Previous': 73.2382},
 'PLN': {'ID': 'R01565',
  'NumCode': '985',
  'CharCode': 'PLN',
  'Nominal': 1,
  'Name': 'Польский злотый',
  'Value': 16.6234,
  'Previous': 16.7579},
 'RON': {'ID': 'R01585F',
  'NumCode': '946',
  'CharCode': 'RON',
  'Nominal': 1,
  'Name': 'Румынский лей',
  'Value': 16.2255,
  'Previous': 16.339},
 'XDR': {'ID': 'R01589',
  'NumCode': '960',
  'CharCode': 'XDR',
  'Nominal': 1,
  'Name': 'СДР (специальные права заимствования)',
  'Value': 99.9181,
  'Previous': 99.9876},
 'SGD': {'ID': 'R01625',
  'NumCode': '702',
  'CharCode': 'SGD',
  'Nominal': 1,
  'Name': 'Сингапурский доллар',
  'Value': 55.8151,
  'Previous': 56.0406},
 'TJS': {'ID': 'R01670',
  'NumCode': '972',
  'CharCode': 'TJS',
  'Nominal': 10,
  'Name': 'Таджикских сомони',
  'Value': 71.0662,
  'Previous': 71.4179},
 'THB': {'ID': 'R01675',
  'NumCode': '764',
  'CharCode': 'THB',
  'Nominal': 10,
  'Name': 'Таиландских батов',
  'Value': 21.6774,
  'Previous': 21.8523},
 'TRY': {'ID': 'R01700J',
  'NumCode': '949',
  'CharCode': 'TRY',
  'Nominal': 10,
  'Name': 'Турецких лир',
  'Value': 39.6622,
  'Previous': 39.6726},
 'TMT': {'ID': 'R01710A',
  'NumCode': '934',
  'CharCode': 'TMT',
  'Nominal': 1,
  'Name': 'Новый туркменский манат',
  'Value': 21.3597,
  'Previous': 21.3611},
 'UZS': {'ID': 'R01717',
  'NumCode': '860',
  'CharCode': 'UZS',
  'Nominal': 10000,
  'Name': 'Узбекских сумов',
  'Value': 65.8439,
  'Previous': 65.7612},
 'UAH': {'ID': 'R01720',
  'NumCode': '980',
  'CharCode': 'UAH',
  'Nominal': 10,
  'Name': 'Украинских гривен',
  'Value': 20.3353,
  'Previous': 20.2491},
 'CZK': {'ID': 'R01760',
  'NumCode': '203',
  'CharCode': 'CZK',
  'Nominal': 10,
  'Name': 'Чешских крон',
  'Value': 33.7725,
  'Previous': 33.8038},
 'SEK': {'ID': 'R01770',
  'NumCode': '752',
  'CharCode': 'SEK',
  'Nominal': 10,
  'Name': 'Шведских крон',
  'Value': 71.0574,
  'Previous': 72.0004},
 'CHF': {'ID': 'R01775',
  'NumCode': '756',
  'CharCode': 'CHF',
  'Nominal': 1,
  'Name': 'Швейцарский франк',
  'Value': 80.1961,
  'Previous': 81.0184},
 'RSD': {'ID': 'R01805F',
  'NumCode': '941',
  'CharCode': 'RSD',
  'Nominal': 100,
  'Name': 'Сербских динаров',
  'Value': 67.7894,
  'Previous': 68.4269},
 'ZAR': {'ID': 'R01810',
  'NumCode': '710',
  'CharCode': 'ZAR',
  'Nominal': 10,
  'Name': 'Южноафриканских рэндов',
  'Value': 40.9162,
  'Previous': 41.5244},
 'KRW': {'ID': 'R01815',
  'NumCode': '410',
  'CharCode': 'KRW',
  'Nominal': 1000,
  'Name': 'Вон Республики Корея',
  'Value': 57.5289,
  'Previous': 58.191},
 'JPY': {'ID': 'R01820',
  'NumCode': '392',
  'CharCode': 'JPY',
  'Nominal': 100,
  'Name': 'Японских иен',
  'Value': 55.6655,
  'Previous': 55.7731}}

Документация необходима почти всем методам

In [45]:
?r.exchange_rates

# Система повышения сотрудников

### Упражнение
Создайте класс Employee. При инициализации указываются имя сотрудника (name) и трудовой стаж в пройденных аккредитациях (seniority). Напишите метод init, в котором задаются соответствующие переменные - self.name и self.seniority.

In [47]:
class Employee:
    def __init__(self, name, seniority):
        self.name = name
        self.seniority = seniority
        self.grade = 0

    def grade_up(self):
        self.grade += 1

In [59]:
person_1 = Employee("first", 0)

In [66]:
person_1.grade_up()

In [67]:
print(person_1.grade)

6

### Упражнение
Заведите переменную self.grade при инициализации класса со значением 0. Добавьте метод grade_up, который увеличивает это значение на 1. На всякий случай - этот метод может ничего не возвращать, только изменять переменную.

# Наследование

Разработчикам финансового департамента помимо курса надо работать с кодами валют. Как сохранить сохранить разработку класса Rate у нас, а полезные функции передать финансистам?

In [69]:
class CurrencyCodes(Rate):
    def __init__(self):
        super().__init__(format_='full')

Теперь классу CurrencyCodes доступны все методы класса Rate. Можем продолжать разработку в нужном направлении.

In [70]:
cc = CurrencyCodes()

In [71]:
CurrencyCodes().usd()

{'ID': 'R01235',
 'NumCode': '840',
 'CharCode': 'USD',
 'Nominal': 1,
 'Name': 'Доллар США',
 'Value': 74.7588,
 'Previous': 74.7638}

Допишем в класс что-нибудь свое новенькое

In [72]:
class CurrencyCodes(Rate):
    def __init__(self):
        super().__init__(format_='full')
    
    def currency_id(self, currency):
        """Получение идентификатора валюты"""
        return self.make_format(currency)['ID']

In [73]:
currency = CurrencyCodes()

In [74]:
currency.currency_id('USD')

'R01235'

# Система повышения сотрудников
Пригодится для домашнего задания

In [72]:
class Employee:
    def __init__(self, name, seniority):
        self.name = name
        self.seniority = seniority
        
        self.grade = 1
    
    def grade_up(self):
        """Повышает уровень сотрудника"""
        self.grade += 1
    
    def publish_grade(self):
        """Публикация результатов аккредитации сотрудников"""
        print(self.name, self.grade)
    
    def check_if_it_is_time_for_upgrade(self):
        pass

In [73]:
class Developer(Employee):
    def __init__(self, name, seniority):
        super().__init__(name, seniority)
    
    def check_if_it_is_time_for_upgrade(self):
        # для каждой аккредитации увеличиваем счетчик на 1
        # пока считаем, что все разработчики проходят аккредитацию
        self.seniority += 1
        
        # условие повышения сотрудника из презентации
        if self.seniority % 5 == 0:
            self.grade_up()
        
        # публикация результатов
        return self.publish_grade()

In [74]:
# проверяем как работает система повышения сотрудников на примере отдела разработки

# разработчик Александр только что пришел в компанию
alex = Developer('Александр', 0)

In [75]:
for i in range(20):
    alex.check_if_it_is_time_for_upgrade()

Александр 1
Александр 1
Александр 1
Александр 1
Александр 2
Александр 2
Александр 2
Александр 2
Александр 2
Александр 3
Александр 3
Александр 3
Александр 3
Александр 3
Александр 4
Александр 4
Александр 4
Александр 4
Александр 4
Александр 5

# Домашнее задание задача 3

Напишите класс Designer, который учитывает количество международных премий для дизайнеров (из презентации: "Повышение на 1 грейд за каждые 7 баллов. Получение международной премии – это +2 балла"). Считайте, что при выходе на работу сотрудник уже имеет две премии и их количество не меняется со стажем (конечно если хотите это можно вручную менять). Выполните проверку для 20 аккредитаций дизайнера Елены.

Для проверки используйте код:

In [94]:


class Designer:
    def __init__(self, name, seniority, awards):
        self.name = name
        self.seniority = seniority + (awards * 2)
        self.grade = 0
        self.awards = awards

    def grade_up(self):
        self.grade += 1

    def check_if_it_is_time_for_upgrade(self):
        self.seniority += 1
        if self.seniority % (7 + self.grade) == 0:
            self.grade_up()
            self.seniority = 0
        return self.publish_grade()


    def publish_grade(self):

        print(f"Дизайнер-{self.name}     Специалитет: Освоенно:{self.seniority}  Необходимо:{7 + self.grade}     Прогресс-{self.grade}")


elena = Designer('Елена', seniority=0, awards=2)

In [95]:
for i in range(20):
    elena.check_if_it_is_time_for_upgrade()

Дизайнер-Елена     Специалитет: Освоенно:5  Необходимо:7     Прогресс-0
Дизайнер-Елена     Специалитет: Освоенно:6  Необходимо:7     Прогресс-0
Дизайнер-Елена     Специалитет: Освоенно:0  Необходимо:8     Прогресс-1
Дизайнер-Елена     Специалитет: Освоенно:1  Необходимо:8     Прогресс-1
Дизайнер-Елена     Специалитет: Освоенно:2  Необходимо:8     Прогресс-1
Дизайнер-Елена     Специалитет: Освоенно:3  Необходимо:8     Прогресс-1
Дизайнер-Елена     Специалитет: Освоенно:4  Необходимо:8     Прогресс-1
Дизайнер-Елена     Специалитет: Освоенно:5  Необходимо:8     Прогресс-1
Дизайнер-Елена     Специалитет: Освоенно:6  Необходимо:8     Прогресс-1
Дизайнер-Елена     Специалитет: Освоенно:7  Необходимо:8     Прогресс-1
Дизайнер-Елена     Специалитет: Освоенно:0  Необходимо:9     Прогресс-2
Дизайнер-Елена     Специалитет: Освоенно:1  Необходимо:9     Прогресс-2
Дизайнер-Елена     Специалитет: Освоенно:2  Необходимо:9     Прогресс-2
Дизайнер-Елена     Специалитет: Освоенно:3  Необходимо:9     Прогресс-2
Дизайнер-Елена     Специалитет: Освоенно:4  Необходимо:9     Прогресс-2
Дизайнер-Елена     Специалитет: Освоенно:5  Необходимо:9     Прогресс-2
Дизайнер-Елена     Специалитет: Освоенно:6  Необходимо:9     Прогресс-2
Дизайнер-Елена     Специалитет: Освоенно:7  Необходимо:9     Прогресс-2
Дизайнер-Елена     Специалитет: Освоенно:8  Необходимо:9     Прогресс-2
Дизайнер-Елена     Специалитет: Освоенно:0  Необходимо:10     Прогресс-3

# Импорт классов и функций

In [76]:
from libs.exchange import my_sum

In [77]:
my_sum(1, 2)

3

In [78]:
from libs.exchange import Rate

In [79]:
Rate().AZN()

39.0129

In [ ]:
# такой способ импорта крайне не рекомендуется
from libs.exchange import *

Если библиотека лежит в произвольной папке

In [80]:
import sys
sys.path

['/Users/kbashevoy/Desktop/Нетология/Занятия/Занятие 8',
 '/Users/kbashevoy/anaconda3/lib/python37.zip',
 '/Users/kbashevoy/anaconda3/lib/python3.7',
 '/Users/kbashevoy/anaconda3/lib/python3.7/lib-dynload',
 '',
 '/Users/kbashevoy/.local/lib/python3.7/site-packages',
 '/Users/kbashevoy/anaconda3/lib/python3.7/site-packages',
 '/Users/kbashevoy/anaconda3/lib/python3.7/site-packages/aeosa',
 '/Users/kbashevoy/anaconda3/lib/python3.7/site-packages/IPython/extensions',
 '/Users/kbashevoy/.ipython']

In [ ]:
import sys
sys.path.append('адрес_папки_с_файлами')

In [81]:
# пример

import sys
sys.path.append('/Users/kbashevoy/Desktop/Нетология/Занятия/Занятие 8/libs')

In [82]:
from exchange import my_sum

In [83]:
my_sum(3, 3)

6